<div class="message-container">
    <app-message></app-message>
</div>

<div class="main-container">
    <a class="btn" routerLink="/employees" routerLinkActive="is-active">Pracownicy</a>
    <a class="btn" routerLink="/employee-add" routerLinkActive="is-active">Dodaj pracownika</a>
    <a class="btn" routerLink="/positions" routerLinkActive="is-active">Stanowiska</a>
    <a class="btn" routerLink="/position-add" routerLinkActive="is-active">Dodaj stanowisko</a>

    <router-outlet></router-outlet>
</div>